/* google font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* tailwind  */
@import "tailwindcss";
/* daisyUi with light theme */
@plugin "daisyui" {
  themes: light --default;
  /* dark --prefersdark; */
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.active {
  text-decoration: underline;
  text-underline-offset: 4px; /* adds space between text and underline */
  text-decoration-thickness: 2px; /* thicker underline for visibility */
  color: #0070f3; /* highlight color */
  padding-bottom: 10px;
  transition: color 0.3s;
}
